.add-button {
    background-color: white;
    opacity: 0;
    width: 1px;
}

.add-button:hover {
    opacity: 1;
    width: auto;
    margin-left: 0;
    background-color: rgb(1, 118, 211);
    color: white;
    position: relative;
    right: -2px;
}

.steps-column{
    max-width: 140px;
    min-width: 140px;
}

.steps-button{
    min-height: 70px;
    width: 100%;
    background-color: var(--slds-c-button-color-background);
}
.steps-buttons--group{
    display: flex;
}

.slds-button+.slds-button{
    margin-left: 0 !important;
}