.add-button {
    height: 15px;
    border-radius: 10px;
}
.steps-column {
    max-width: 140px;
    min-width: 140px;
}
.persona-style {
    background-color:#505050;
    color: #90d0fe;
}
.persona-font {
    color: #d3eeec;
}
