.add-button {
    /* background-color: white; */
    opacity: 0;
    height: 20px;
    /* width: 1px; */
}

.add-button:hover {
    opacity: 1;
    height: 20px;
}

.system-color {
    background-color: #d8d8d8;
}

.goals-color {
    background-color: #01c3b3;
    color: #fff;
}

.fact-and-observations-color {
    background-color: #9050e9;
    color: #fff;
}
.emotions-color {
    background-color: #fcc033;
    color: #706e6b;
}
.metrics-color {
    background-color: #e3066a;
    color: #fff;
}
.systems-and-key-information-color {
    background-color: #919191;
    color: #fff;
}
.touchpoints-color {
    background-color: #ff5d2d;
    color: #fff;
}
.pain-points-color {
    background-color: #ba0517;
    color: #fff;
}
.opportunity-and-ideas-color {
    background-color: #3ba755;
    color: #fff;
}
.my-icon {
    --sds-c-icon-color-foreground-default: orange;
    opacity: 0;
    opacity: 0.65;
    width: auto;
    margin-left: 0;
    --sds-c-icon-color-background: gray;
    color: white;
    position: relative;
    right: -2px;
}
.my-icon-container {
    height: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.font-style {
    font-weight: 600;
}
